@use "../abstracts/" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: "Neue Helvetica";
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

html {
	scroll-behavior: smooth;
}

img,
svg {
	max-width: 100%;
}

svg {
	cursor: pointer;
	&:hover {
		transform: scale(1.1);
	}
}

a,
a:hover,
a:visited,
a:focus {
	text-decoration: none;
}
