@use "../abstracts/" as *;

.posts {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	gap: 2rem;
	margin-top: 5rem;
	@media (min-width: $xl) {
		margin-inline: auto;
		width: 50%;
	}
}
