@use "../abstracts" as *;

.post {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	background-color: $color-main;
	border: 2px $color-border;
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-main;
	padding: 1em;
}

.post-image {
	@include flex-center;
	img {
		max-width: 614px;
	}
}
